<div class="wrapper">

  
  <div class="profile-card js-profile-card">
    <div class="profile-card__img">
       <mat-icon aria-hidden="false" aria-label="how to reg icon"
        style="font-size: 100px;margin-left:20%"color="primary">how_to_reg</mat-icon>
    </div>

    <div class="profile-card__cnt js-profile-cnt">
      <div class="profile-card__name">{{username}}</div>
      <div class="profile-card__txt">
        Workout Logger User
      </div><!-- 
      <div class="profile-card-loc">
        <span class="profile-card-loc__icon">
          <svg class="icon"><use xlink:href="#icon-location"></use></svg>
        </span>

      </div> -->



      <div class="profile-card-ctr">
        <button class="profile-card__button button--blue js-message-btn" (click)="logout()">Logout</button>
        
      </div>
    </div>


  </div>

</div>

