.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 6 / 2; }
.div2 { grid-area: 1 / 2 / 6 / 5; }
.div3 { grid-area: 1 / 5 / 6 / 6; }

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.image-add{
	max-height:27vh !important;
	padding-left:3vw;
}