<div class="container" *ngIf="loading === false">

  

  <h1>Today's Goal</h1>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <table class="table table-bordered" formArrayName="todayGoals">

      <tr>

        <th colspan="2">Add Multiple Exercises</th>

        <th width="150px"><a href="http://localhost:4200/add">Edit Logs</a></th>

      </tr>

      <tr *ngFor="let quantity of todayGoals().controls; let i=index" [formGroupName]="i">

        <td>

            Exercise Name :

            <input type="text" formControlName="name" class="form-control">

        </td>

        <td>

            Duration Goal:

            <input type="number" formControlName="reqDuration" class="form-control">

        </td>

        <td >

            <button (click)="removeQuantity(i)" class="btn btn-danger">X</button>

        </td>

      </tr>

    </table>

   

    <button type="submit" class="btn btn-success">Submit</button>

    <button type="button" (click)="addQuantity()" class="btn btn-primary">Add More Exercise</button>

  </form>

    

  <br/>



</div>