<mat-toolbar color="primary">
    <h1 class="center">Workout Logger</h1>
</mat-toolbar>

<mat-grid-list cols="10" rowHeight='100%'>
  <mat-grid-tile colspan="4">
  

<!-- Mixins-->
<!-- Pen Title-->

<div class="login-container">
  <div class="login-card"></div>
  <div class="login-card">
    <h1 class="title">Login</h1>
    <form>
      
      <div class="input-container">
        <mat-form-field >
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email"  type="email" id="email" name="email" [(ngModel)]="credentials.email"required>
            </mat-form-field>
       
        <!-- <label for="#{label}">Email</label> -->
        <!-- <div class="bar"></div> -->
      </div>
      <div class="input-container">
        <mat-form-field >
          <input matInput type="password" id="password" name="password" placeholder="Password" [(ngModel)]="credentials.password" required>
        </mat-form-field>
      </div>
      <div class="button-container">
        <!-- <button><span>Go</span></button> -->
        <button mat-raised-button (click)="onLoginSubmit()" ><span>Login</span></button>

      </div>
      <div class="footer"> Not a member?<br /><a routerLink="/signup"> sign up</a> instead</div>
    </form>
  </div>
 
</div>



  </mat-grid-tile>

  <mat-grid-tile colspan="6" class="banner">
     <div class="image-container">
       <img src="assets/images/7.jpg"  class="image-login" width="100%" />
        <div class="top-left">
          <h1 style="font-size:7vh">Be fit</h1>
        </div>  
      </div>

   
  </mat-grid-tile>

</mat-grid-list>
