<div class="login-div">
<mat-card class="example-card">
  <mat-card-header>
  
    <mat-card-title>Log In</mat-card-title>
  
  </mat-card-header>

  <mat-card-content>
   <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="email"  type="email" id="email" name="email" [(ngModel)]="credentials.email"required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput type="password" id="password" name="password" placeholder="Password" [(ngModel)]="credentials.password" required>
        </mat-form-field></td>
      </tr></table>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onLoginSubmit()" color="primary">Login</button>


	<p > Not a member? Please<a routerLink="/signup"> sign up</a> instead</p>

  </mat-card-actions>
</mat-card>
</div>

<div *ngIf="errorMsg()">
	<p>Error</p>
</div>