<div class="container">
<div *ngIf="!isTime()" class="row ">

<div class='col-sm-4'>
<mat-form-field class="example-form-field">
  <mat-label>sets</mat-label>
  <input matInput type="number" [(ngModel)]="sets">

</mat-form-field>
</div>
	<div class="col">
		<mat-form-field class="example-form-field">
		  <mat-label>reps</mat-label>
		  <input matInput type="number" [(ngModel)]="reps">
		</mat-form-field>
	</div>
</div>
<div *ngIf="isTime()" class="row container">
			<div class="row">
		<div class='col-sm-2'>
		<mat-form-field class="example-form-field">
		  <mat-label>Hours</mat-label>
		  <input matInput type="number" [(ngModel)]="hrs">

		</mat-form-field>
		</div>
			<div class="col">
				<mat-form-field class="example-form-field">
				  <mat-label>Minutes</mat-label>
				  <input matInput type="number" [(ngModel)]="mins">
				
				</mat-form-field>
				
			</div>
		</div>

	
</div>
<div class="row">
  <button mat-mini-fab matStepperNext color="primary" (click)="_sendToParent()"><mat-icon aria-hidden="false" aria-label="done">done</mat-icon>
</button>
</div>
</div>